/* En partial för att lägga dina variabler
 och mixins och annat som du kan behöva 
 importera in senare i din kod för att  slippa 
 redundans. Det kan vara färgkoder  i variabler, 
 styling på texter, textstorlekar osv.*/

$fontfamilj: "Poppins", sans-serif;

$primary-light-color: #F3E5D8;
$primary-dark-color: #4E342E;
$primary-pop-color: #26A69A;

body {
  font-family: $fontfamilj;
  font-weight: 400;
  background-color: $primary-light-color;
  color: $primary-dark-color;
  line-height: 1.6;
}