@use "sass:color";

$fontfamilj: "Poppins", sans-serif;

$primary-light-color: #F3E5D8;
$primary-dark-color: #4E342E;
$primary-pop-color: #26A69A;

$lightTheme: true;

%lightOrDark {
  @if $lightTheme {
    background-color: $primary-light-color;
    color: $primary-dark-color;
  }

  @else {
    background-color:$primary-dark-color;
    color: $primary-light-color;
  }
}

body {
  font-family: $fontfamilj;
  font-weight: 400;
  line-height: 1.6;

  @extend %lightOrDark;
}