@use "base";
@use "sass:color";

@mixin link-text {
    @if base.$lightTheme {
        color: base.$primary-pop-color;

        &:hover {
            color: color.complement(base.$primary-pop-color);
        }
    }

    @else {
        color: color.scale(base.$primary-pop-color, $lightness: 55%);
        &:hover {
            color: color.scale(base.$primary-pop-color, $lightness: 85%);
        }
    }

    @media (prefers-color-scheme: dark) {
        color: color.scale(base.$primary-pop-color, $lightness: 55%);
        
        &:hover {
            color: color.scale(base.$primary-pop-color, $lightness: 85%);
        }
    }

    @media (prefers-color-scheme: light) {
        color: base.$primary-pop-color;

        &:hover {
            color: color.complement(base.$primary-pop-color);
        }
    }
}

@mixin button {
  @if base.$lightTheme {
    background-color: base.$primary-pop-color;
    color: base.$primary-light-color;

    &:hover {
      background-color: color.complement(base.$primary-pop-color);
    }
  }

  @else {
    background-color: color.scale(base.$primary-pop-color, $lightness: 40%);
    color: base.$primary-dark-color;

    &:hover {
      background-color: color.scale(base.$primary-pop-color, $lightness: 70%);
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: color.scale(base.$primary-pop-color, $lightness: 40%);
    color: base.$primary-dark-color;

    &:hover {
      background-color: color.scale(base.$primary-pop-color, $lightness: 70%);
    }
  }

  @media (prefers-color-scheme: light) {
    background-color: base.$primary-pop-color;
    color: base.$primary-light-color;

    &:hover {
      background-color: color.complement(base.$primary-pop-color);
    }
  }
}

.spel-knapp {
  @include button;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}