@use "base";
@use "sass:color";

 @mixin link-text {
    @if base.$lightTheme {
        color: base.$primary-pop-color;
    } @else {
        color: color.scale(base.$primary-pop-color, $lightness: 15%);
    }

 }


