/*Här lägger du kod som hanterar sidans utseende så som 
grid, flexbox och containers.*/

@use "base";
@use "sass:color";

%lightOrDarkHeaderFoot {
  @if base.$lightTheme {
    background-color: base.$primary-dark-color;
    color: base.$primary-light-color;
  }

  @else {
    background-color: color.scale(base.$primary-dark-color, $lightness: -20%);
    color: base.$primary-light-color;
  }
}

%lightOrDarkNav {
  @if base.$lightTheme {
    background-color: base.$primary-light-color;
  }

  @else {
    background-color: base.$primary-dark-color;
  }
}

header {
  @extend %lightOrDarkHeaderFoot;
  padding: 1rem 2rem;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;


  nav {
    @extend %lightOrDarkNav;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 10;
  }

  nav.active {
    display: block;
  }

  .topnav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .hamburger {
    background: none;
    border: none;
    color: base.$primary-light-color;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;

    .icon-close {
      display: none;
    }

    &.active {
      .icon-hamburger {
        display: none;
      }

      .icon-close {
        display: block;
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
    color: base.$primary-pop-color;
    font-weight: 600;
  }
}

@media (min-width: 769px) {
  header {
    display: flex;
    align-items: center;

    .hamburger {
      display: none;
    }

    nav {
      position: static;
      display: block;
      margin-left: auto;
      width: auto;
      background: none;

      .topnav {
        flex-direction: row;
        padding: 0;
        gap: 2rem;
      }

      a[aria-current="page"] {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
      }
    }
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  h1 {
    z-index: 1;
    color: base.$primary-light-color;
    background-color: color.change(color.scale(base.$primary-dark-color, $lightness: -20%, $saturation: -70%),
        $alpha: 0.5);
  }

  @media (min-width: 769px) {
    height: 50vh;
  }

}

article {
  padding: 2rem;
}

footer {
  @extend %lightOrDarkHeaderFoot;

  text-align: center;
  padding: 2rem;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}