@use "base";
@use "components";
@use "sass:color";

%lightOrDarkHeaderFoot {
  @if base.$lightTheme {
    background-color: base.$primary-dark-color;
    color: base.$primary-light-color;
  }

  @else {
    background-color: color.scale(base.$primary-dark-color, $lightness: -20%);
    color: base.$primary-light-color;
  }

  @media (prefers-color-scheme: dark) {
    background-color: color.scale(base.$primary-dark-color, $lightness: -20%);
    color: base.$primary-light-color;
  }

  @media (prefers-color-scheme: light) {
    background-color: base.$primary-dark-color;
    color: base.$primary-light-color;
  }
}

%lightOrDarkNav {
  @if base.$lightTheme {
    background-color: base.$primary-light-color;
  }

  @else {
    background-color: base.$primary-dark-color;
  }

  @media (prefers-color-scheme: dark) {
    background-color: base.$primary-dark-color;
  }

  @media (prefers-color-scheme: light) {
    background-color: base.$primary-light-color;
  }
}

header {
  @extend %lightOrDarkHeaderFoot;
  padding: 1rem 2rem;
  position: relative;

  display: flex;
  justify-content: flex-end;
  align-items: center;


  nav {
    @extend %lightOrDarkNav;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 10;
  }

  nav.active {
    display: block;
  }

  .topnav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .hamburger {
    background: none;
    border: none;
    color: base.$primary-light-color;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;

    .icon-close {
      display: none;
    }

    &.active {
      .icon-hamburger {
        display: none;
      }

      .icon-close {
        display: block;
      }
    }
  }
}

@media (min-width: 769px) {
  header {
    display: flex;
    align-items: center;

    .hamburger {
      display: none;
    }

    nav {
      position: static;
      display: block;
      margin-left: auto;
      width: auto;
      background: none;

      .topnav {
        flex-direction: row;
        padding: 0;
        gap: 2rem;
      }
    }
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  h1 {
    z-index: 1;
    color: base.$primary-light-color;
    background-color: color.change(color.scale(base.$primary-dark-color, $lightness: -20%, $saturation: -70%),
        $alpha: 0.5);
  }

  @media (min-width: 769px) {
    height: 50vh;
  }

}

article {
  padding: 2rem;
  max-width: 75ch;
  margin: 0 auto;

  h1,
  h2,
  h3,
  h4 {
    padding-bottom: 1rem;
  }

  p {
    padding-bottom: 1rem;
  }

  a {
    @include components.link-text;
  }

  a:visited {
    @if base.$lightTheme {
      color: base.$primary-dark-color;
    }

    @else {
      color: base.$primary-light-color;
    }

    @media (prefers-color-scheme: dark) {
      color: base.$primary-light-color;
    }

    @media (prefers-color-scheme: light) {
      color: base.$primary-dark-color;
    }
  }

  .ingress {
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .bild-grid {
    display: block;

    figure {
      margin-bottom: 2rem;
    }

    img {
      width: 100%;
      height: auto;
      display: block
    }

    @media (min-width: 769px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}

footer {
    @extend %lightOrDarkHeaderFoot;

    text-align: center;
    padding: 2rem;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }